<GridLayout *ngIf="!detail" row="2" width="100%" backgroundColor="white">
    <StackLayout>
        <ListView #listview [items]="items" separatorColor="transparent">
            <ng-template let-item="item">
                <StackLayout class="main" (tap)="showItem(item)">
                    <StackLayout class="content">
                        <Image stretch="aspectFill" class="card-img" src="~/assets/login.png"></Image>
                        <GridLayout width="100%" columns="auto,*" rows="auto" class="" verticalAlignment="center">
                            <Label row="0" col="0" class="item-name" rowSpan="2" [text]="item.name"></Label>
                        </GridLayout>
                        <GridLayout width="100%" columns="auto,*" rows="auto" class="" verticalAlignment="center">
                            <Button class="btn btn-primary" text="Ver detalles" (tap)="showItem()"></Button>
                        </GridLayout>
                        <StackLayout width="100%" marginTop="5" class="line"></StackLayout>
                    </StackLayout>
                    <StackLayout width="100%" class="lineBreak"></StackLayout>
                </StackLayout>
            </ng-template>
        </ListView>
    </StackLayout>
</GridLayout>