<GridLayout rows="auto,auto,*,auto" columns="auto">

    <GridLayout row="0" #navStatusBar class="navStatusBar" backgroundColor="#2B83F3" verticalAlignment="top" height="40"
        width="100%" rows="auto" columns="*,auto,auto,auto">
        <Label col="0" row="0" text="App Médica" class="status-title"></Label>
        <Image col="1" row="0" (tap)="onSearchTap()" horizontalAlignment="right" class="status-img" src="~/assets/images/search.png"></Image>
        <Image col="2" row="0" (tap)="onBellTap()" horizontalAlignment="right" class="status-img" src="~/assets/images/bell.png"></Image>
        <Image horizontalAlignment="right" (tap)="onAccount()" stretch="aspectFill" col="3" row="0" class="status-profile"
            src="~/assets/login.png"></Image>
    </GridLayout>

    <!-- <GridLayout row="1" #navTab class="navTab" verticalAlignment="top" height="50" width="100%" rows="auto" columns="25,*,*,*"
        color="#FFFFFF">

        <GridLayout [class]="selectedTabview==0?'tabview.active':'tabview'" (tap)="onPopularTap()" rows="*,auto"
            columns="auto" col="1" row="0">
            <Image *ngIf="selectedTabview==0" row="0" class="navIcon" [src]="selectedTabview==0?'~/assets/images/popular.png':''"></Image>
            <Label [class]="selectedTabview==0?'tabviewText.active':'tabviewText'" row="1" text="POPULAR"></Label>
        </GridLayout>
        <GridLayout [class]="selectedTabview==1?'tabview.active':'tabview'" (tap)="onCategoryTap()" rows="*,auto"
            columns="auto" col="2" row="0" width="34%">
            <Image *ngIf="selectedTabview == 1" row="0" class="navIcon" [src]="selectedTabview==1?'~/assets/images/category.png':''"></Image>
            <Label [class]="selectedTabview==1?'tabviewText.active':'tabviewText'" row="1" text="CATEGORY"></Label>
        </GridLayout>
        <GridLayout [class]="selectedTabview==2?'tabview.active':'tabview'" (tap)="onPromosTap()" rows="*,auto" columns="auto"
            col="3" row="0" width="33%">
            <Image *ngIf="selectedTabview == 2" row="0" class="navIcon" [src]="selectedTabview==2?'~/assets/images/category.png':''"></Image>
            <Label [class]="selectedTabview==2?'tabviewText.active':'tabviewText'" row="1" text="PROMOS"></Label>
        </GridLayout>
    </GridLayout> -->

    <GridLayout *ngIf="selectedTabview == 0" row="2" width="100%" backgroundColor="white">
        <StackLayout>
            <Label class="body m-20" [text]="message" textWrap="true"></Label>
            <Button class="btn btn-primary" text="Log out" (tap)="logout()"></Button>
        </StackLayout>
    </GridLayout>

    <GridLayout *ngIf="selectedTabview == 1" row="2" width="100%" backgroundColor="white">
        <StackLayout>
            <Label class="body m-20" [text]="message" textWrap="true"></Label>
            <Button class="btn btn-primary" text="Log out 2" (tap)="logout()"></Button>
        </StackLayout>
    </GridLayout>

    <GridLayout *ngIf="selectedTabview == 2" row="2" width="100%" backgroundColor="white">
        <StackLayout>
            <Label class="body m-20" [text]="message" textWrap="true"></Label>
            <Button class="btn btn-primary" text="Log out3" (tap)="logout()"></Button>
        </StackLayout>
    </GridLayout>

    <GridLayout *ngIf="selectedTab == 0" row="2" width="100%" backgroundColor="white">
        <StackLayout>
            <app-dashboard></app-dashboard>
        </StackLayout>
    </GridLayout>

    <GridLayout *ngIf="selectedTab == 1" row="2" width="100%" backgroundColor="white">
        <StackLayout>
            <app-specialties></app-specialties>
            <Label class="body m-20" [text]="message" textWrap="true"></Label>
            <Button class="btn btn-primary" text="Log out -1" (tap)="logout()"></Button>
        </StackLayout>
    </GridLayout>
    <GridLayout *ngIf="selectedTab == 2" row="2" width="100%" backgroundColor="white">
        <app-history></app-history>
    </GridLayout>
    <GridLayout *ngIf="selectedTab == 3" row="2" width="100%" backgroundColor="white">
        <app-profile></app-profile>
    </GridLayout>

    <GridLayout *ngIf="selectedTab == 4" row="2" width="100%" backgroundColor="white">
        <app-search></app-search>
    </GridLayout>

    <GridLayout *ngIf="selectedTab == 5" row="2" width="100%" backgroundColor="white">
        <Label text="Notificaciones"></Label>
    </GridLayout>
    <GridLayout *ngIf="selectedTab == 6" row="2" width="100%" backgroundColor="white">
        <app-account></app-account>
    </GridLayout>




    <GridLayout class="navBottom" height="50" width="100%" row="3" rows="auto" columns="auto,auto,auto,auto">

        <GridLayout [class]="selectedTab==0?'nav active':'nav'" (tap)="onHomeTap()" rows="*,auto" cols="auto" col="0"
            row="0" width="25%">
            <Image [class]="selectedTab==0?'navIcon active':'navIcon'" row="0" [src]="selectedTab==0?'~/assets/images/home-light-blue.png':'~/assets/images/home-black.png'"></Image>
            <Label row="1" *ngIf="selectedTab==0" text="Inicio" class="navText"></Label>
        </GridLayout>

        <GridLayout [class]="selectedTab==1?'nav active':'nav'" (tap)="onCartTap()" rows="*,auto" cols="auto" col="1"
            row="0" width="25%">
            <Image [class]="selectedTab==1?'navIcon ':'navIcon'" row="0" [src]="selectedTab==1?'~/assets/images/query-light-blue.png':'~/assets/images/query-black.png'"></Image>
            <Label row="1" *ngIf="selectedTab == 1" text="Especialidades" class="navText"></Label>
        </GridLayout>

        <GridLayout [class]="selectedTab==2?'nav active':'nav'" (tap)="onHistoryTap()" rows="*,auto" cols="auto" col="2"
            row="0" width="25%">
            <Image [class]="selectedTab==2?'navIcon active':'navIcon'" row="0" [src]="selectedTab==2?'~/assets/images/history-light-blue.png':'~/assets/images/history-black.png'"></Image>
            <Label row="1" *ngIf="selectedTab == 2" text="Historial" class="navText"></Label>
        </GridLayout>

        <GridLayout [class]="selectedTab==3?'nav active':'nav'" (tap)="onAboutTap()" rows="*,auto" cols="auto" col="3"
            row="0" width="25%">
            <Image [class]="selectedTab==3?'navIcon active':'navIcon'" row="0" [src]="selectedTab==3?'~/assets/images/user-light-blue.png':'~/assets/images/user-black.png'"></Image>
            <Label row="1" *ngIf="selectedTab == 3" text="Perfil Médico" class="navText"></Label>
        </GridLayout>
    </GridLayout>

</GridLayout>